# ENV
ENV:

# DB
DB_DSN:

# Http
HTTP_PORT:

# Notification
DEFAULT_SENDER_PLATFORM:
TELEGRAM_TOKEN:

# For maintenance
ADMIN_CHAT_ID:

# Exchange
DEFAULT_EXCHANGE:

# Recaptcha v3
RECAPTCHA_SITE_KEY:
RECAPTCHA_SECRET:

# Cookie
SESSION_AUTHENTICATION_KEY:
SESSION_ENCRYPTION_KEY:

# For OTP, password
SHA256_HASH_SALT:

# For all purpose
AES_PRIVATE_KEY:

# Engine
ENGINE_URL:
