{{ template "header.html" .}}
<div class="container">
    {{ if ne .error "" }}
    <div class="row rounded mb-3">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                {{ .error }}
            </div>
        </div>
    </div>
    {{ end }}
    <div class="row rounded mb-3">
        <div class="col">
            <form method="POST" id="strategy-form">
                <div class="row mt-2">
                    <label for="margin" class="col-3 col-form-label text-end">保證金</label>
                    <div class="col-9">
                        <input type="number" step="any" class="form-control bg-light" name="margin" placeholder="e.g. 1000" value="{{.strategy.Margin}}">
                        <div class="form-text">總可用餘額: {{.availableMargin}}</div>
                        <div class="form-text">本金: {{.collateral}} ({{.leverage}}x)  總資金: {{.totalMargin}}</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <label class="col-3 col-form-label text-end" for="comment">備註</label>
                    <div class="col-9 pt-2">
                        <textarea class="form-control" id="comment" rows="2" placeholder="(選填,需少於100個字元)" name="comment">{{.strategy.Comment}}</textarea>
                    </div>
                </div>
                <!-- submit -->
                <div class="row mt-2">
                    <div class="col-3 mx-auto">
                        <button type="submit" id="submit-button" class="btn btn-primary">送出</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ template "footer.html" .}}
<script>
$( document ).ready(function() {
    $("#strategy-form").on("submit", function(event){
        event.preventDefault();

        // submit
        $.ajax({
            type: 'PATCH',
            url: '/strategy/{{.strategy.Uuid}}',
            data: $(this).serialize(),
            success: function() {
                location.href = "/?success=strategy_updated";
            }
        }).fail(function(data) {
            alert(data.responseJSON.error);
        });
    });
});
</script>
