{{ template "header.html" .}}
<div class="container">
    <div class="row rounded">
        <div class="col">
            <div class="row">
                <div class="col-2 text-end">
                    <span class="align-middle">Ping</span>
                </div>
                <div class="col-10">
                    <span class="align-middle">
                        {{ if eq .ping "pong" }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-laughing-fill text-success" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5c-.218 0-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5zm5.331 3a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zm-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5c-.218 0-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235z"/>
                            </svg>
                        {{ else }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-dizzy-fill text-danger" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM8 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
                            </svg>
                        {{ end }}
                    </span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2 text-end">
                    <span class="align-middle">Status</span>
                </div>
                <div class="col-10">
                    <textarea class="form-control" rows="1" readonly>{{.status}}</textarea>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2 text-end">
                    <span class="align-middle">List</span>
                </div>
                <div class="col-10">
                    <div class="form-control" id="list" readonly>{{.list}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" .}}
<script>
$( document ).ready(function() {
    var list = JSON.parse(unescape($('#list').text()));
    $('#list').html("<pre>" + JSON.stringify(list, null, 4) + "</pre>");
});
</script>
