{{ template "header.html" .}}
<div class="container">
    <div class="row rounded mb-3">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header pb-0">
                    <span class="d-inline-block"><h5>v0.3.0</h5></span>
                    <span class="float-end"><small class="text-muted">18th Oct 2021</small></span>
                </div>
                <div class="card-body">
                    <p class="card-text">Features: add 'edit Take-profit/Stop-loss' page</p>
                    <p class="card-text">Bugfixes: fix a potential serious issue that FTX can't correctly handle 'Reduce-only' orders at the same time and create an opposite-side position</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row rounded mb-3">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header pb-0">
                    <span class="d-inline-block"><h5>v0.2.0</h5></span>
                    <span class="float-end"><small class="text-muted">15th Oct 2021</small></span>
                </div>
                <div class="card-body">
                    <p class="card-text">Features: add 'edit strategy' page</p>
                    <p class="card-text">Polish: refactor the action of closing position in web app and improve reliability of tracking strategies in engine</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row rounded mb-3">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header pb-0">
                    <span class="d-inline-block"><h5>v0.1.0</h5></span>
                    <span class="float-end"><small class="text-muted">10th Oct 2021</small></span>
                </div>
                <div class="card-body">
                    <p class="card-text">The first release: basic features for creating/managing strategies, closing positions and API Key management</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" .}}
